@page "{lineId:int}"
@model TrainGovernor.Pages.Lines.EditModel
@section Scripts{
    <script type="text/javascript">
        var stations = @Html.Raw(Json.Serialize(Model.Stations));
        var line = @Html.Raw(Json.Serialize(Model.Line));
        var neighbours = @Html.Raw(Json.Serialize(Model.Neighbours));
        var startTimes = @Html.Raw(Json.Serialize(Model.StartTimes));
    </script>
    <script type="module" src="~/js/Lines/Edit.js" ></script>
    <script type="module" src="~/js/Shared/HTMLElements/LineRelations.js" ></script>
}
@section Styles{
    <link href="~/css/Shared.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Line.css" rel="stylesheet" type="text/css" />
}

<div class="out">
    <div class="main-container">
        <h1 class="h1-header">Edit line</h1>
        <div class="input-box">
            <label for="oldname-input">Current name</label>
            <input id="oldname-input" type="text" class="form-control" disabled value="@Model.Line.Name" />
            <div class="separator-div-sm"></div>
            <label for="name-input">New name</label>
            <input id="name-input" type="text" class="form-control" />
        </div>
        <div class="separator-div-md"></div>
        <div id="stat-separator" class="separator-div-md"></div>
        <div id="relations-container" class="relations-container">
        </div>
        <div class="separator-div-sm"></div>
        <div class="select-container" id="select-container">
        </div>
        <div class="separator-div-sm"></div>
        <div class="starttime-container" id="starttime-container">
        </div>
        <div class="separator-div-md"></div>
        <div class="button-container">
            <div class="separator-div-md"></div>
            <button id="save-btn" class="btn btn-success" >Save</button>
            <div class="separator-div-sm"></div>
            <button id="cancel-btn" class="btn btn-danger" onclick="location.href='/Lines/Index'">Go back</button>
        </div>
    </div>
</div>