@page "{lineId:int}"
@model TrainGovernor.Pages.Lines.EditModel
@section Scripts{
    <script type="text/javascript">
        var stations = @Html.Raw(Json.Serialize(Model.Stations));
        var line = @Html.Raw(Json.Serialize(Model.Line));
        var neighbours = @Html.Raw(Json.Serialize(Model.Neighbours));
    </script>
    <script type="module" src="~/js/Lines/Edit.js" ></script>
    <script type="module" src="~/js/Shared/HTMLElements/Line.js" ></script>
}
@section Styles{
    <link href="~/css/Line.css" rel="stylesheet" type="text/css" />
}

<div class="out">
    <div class="main-container">
        <h1 class="h1-header">Edit line</h1>
        <div class="input-box">
            <label for="oldname-input">Current name</label>
            <input id="oldname-input" type="text" class="form-control" disabled value="@Model.Line.Name" />
            <div class="separator-div-sm"></div>
            <label for="name-input">New name</label>
            <input id="name-input" type="text" class="form-control" />
        </div>
        <div class="separator-div-md"></div>
        <div id="stat-separator" class="separator-div-md"></div>
        <div id="stations-container" class="stations-container">
@*                <h1 class="h1-style">Station connections</h1>
                <div id="stations" class="stations-div">
                    @foreach (var station in Model.Line.LineStations)
                    {
                        <div class="station-card table-responsive">
                                <table class="table table-fixed table-responsive">
                                    <tr>
                                        <td class="table-col-lg">@station.TrainStation.Name</td>
                                        <td class="table-col-lg">@station.NeighbouringTrainStation.NeighbourStation.Name</td>
                                        <td class="table-col-sm">@station.TimeToArriveString</td>
                                        <td class="table-col-sm"><input id="spd-input" type="number" class="form-control" min=1 value=@station.AvgSpeed></td>
                                        <td class="table-col-sm"><input id="break-input" type="number" class="form-control" min=1 value=@station.BreakInMinutes></td>
                                        <td class="table-col-sm">@station.TimeToDepartString</td>
                                        <td class="table-col-sm">
                                            <input id="connection-check" type="checkbox" class="form-check-input" checked=@station.IsActive />
                                            <label id="conn-chk-label" for="connection-check">Connection active</label>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    }
                </div>*@
        </div>
        <div class="separator-div-sm"></div>
        <div class="button-container">
            <div id="select-container">
            </div>
            <div class="separator-div-md"></div>
            <button id="save-btn" class="btn btn-success" >Save</button>
            <div class="separator-div-sm"></div>
            <button id="cancel-btn" class="btn btn-danger" onclick="location.href='/Lines/Index'">Go back</button>
        </div>
    </div>
</div>